html {
  height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.board {
  border: 1px solid black;
  width: 500px; /* 20 x 25px blocks */
  height: 500px; /* 20 x 25px blocks */
  position: relative;
}

.lifeform {
  position: absolute;
  display: inline-block;
  margin: 1px;
  width: 23px; /* 20 x 25px blocks */
  height: 23px; /* 20 x 25px blocks */
  background-color: green;
}

.lifeform.on {
  background-color: rgb(0, 0, 215);
}

.lifeform.off {
  background-color: rgb(227, 199, 255);
}
